<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--연결-->
    <script type="text/javascript" src="../static/main.js"></script>
    <link rel="stylesheet" href="../static/style.css">

    <!--Title-->
    <title>햄최몇? | 햄버거 최대 몇개까지 먹어봤어?</title>

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <h1 class="titlepont">🍔햄최몇</h1>
        <a href="/login" class="titlelogin">로그인 및 회원가입</a>
    </div>
    <div class="posting-box">
        <div class="container">
            <h1>최애 버거 추천하기</h1>
            <input type="text" id="title" placeholder="버거 이름">
            <input type="text" id="desc" placeholder="추천 이유">
        </div>
        <button onclick="post()" id="btn_save" type="submit" class="btn btn-primary">등록</button>
    </div>
</body>
</html>